[Unit]
Description=grafana container
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/docker-compose -f /engineer/grafana-container/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /engineer/grafana-container/docker-compose.yml down

[Install]
WantedBy=multi-user.target